/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.idea
composer.lock
_ide_helper.php
storage
/bootstrap/cache
*.zip
.env
_ide_helper.php
.phpstorm.meta.php
*npm-debug.log*

eloquent_helper
auth_helper
locations
maxovik_desc
phinx_helper
eloquent_snippets.txt